GENERATOR_STRATEGY=suno
SUNO_API_KEY=YOUR_SUNO_API_KEY
SUNO_CALLBACK_URL=YOUR_CALLBACK_URL

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8000/accounts/google/login/callback/

FRONTEND_URL=http://127.0.0.1:3000