@import "tailwindcss";

@theme {
  --color-cafe-50: #FCF9F2;
  --color-cafe-100: #F3EBE1;
  --color-cafe-200: #E6D5C3;
  --color-cafe-300: #D4BCA1;
  --color-cafe-400: #BE9D7B;
  --color-cafe-500: #A37C55;
  --color-cafe-600: #886241;
  --color-cafe-700: #6D4B31;
  --color-cafe-800: #553826;
  --color-cafe-900: #422A1D;
  --color-cafe-950: #2C1A11;
  
  --font-display: var(--font-display);
  --font-ui: var(--font-ui);
}

@layer base {
  body {
    @apply bg-cafe-50 text-cafe-900 font-ui antialiased selection:bg-cafe-200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-cafe-950;
  }
}

/* Custom scrollbar to fit the minimalist theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-cafe-200 rounded-full border-2 border-cafe-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-cafe-300;
}
